version: "3.8"
services:
  toolchain:
    build:
      context: .
      dockerfile: Dockerfile
      target: toolchain
    working_dir: /srv/workspace
    volumes:
      - .:/srv/workspace:z
      - ${XDG_CACHE_HOME:-xdg-cache-home}:/root/.cache
  check:
    build:
      context: .
      dockerfile: Dockerfile
      target: check


volumes:
  xdg-cache-home: {}
